@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  line-height: 1.6;
  color: #333;
}

.App {
  min-height: 100vh;
}

/* Global button styles */
button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

/* Global input styles */
input {
  outline: none;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}
